{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/x-icon" href="{{STATIC_URL}}favicon.ico">
        <link href="{{STATIC_URL}}css_ce/bk.{{CSS_SUFFIX}}" rel="stylesheet" type="text/css" />
        <link href="{{STATIC_URL}}assets/bk-icon-2.0/iconfont.css" rel="stylesheet" type="text/css" />
        <link href="{{STATIC_URL}}assets/blueking-icon/index.css" rel="stylesheet" type="text/css" />
        <link href="{{STATIC_URL}}css_ce/login.{{CSS_SUFFIX}}?v={{STATIC_VERSION}}" rel="stylesheet" type="text/css" />
        <title>登录|蓝鲸智云</title>

        {% if is_plain %}
          <style>
              .login-from {
                left: 50% !important;
                top: 50% !important;
                margin: 0 !important;
                transform: translate(-50%, -58%);
              }
              .protocol-btn {
                display: none !important;
              }
          </style>
        {% endif %}
    </head>
    <body>
        <div class="page-content">
            <div id="particles-js"></div>
            <div class="right-top">
                <img src="{{STATIC_URL}}img/logo_ce/right-top.png" alt="">
            </div>
            <div class="right-bottom">
                <img src="{{STATIC_URL}}img/logo_ce/right-bottom2.png" alt="">
            </div>
            <div class="left-bottom">
                <img src="{{STATIC_URL}}img/logo_ce/left-bottom.png" alt="">
            </div>
            <div class="login-from">
                <div class="logo-title">
                    <div class="logo_ce">
                        <img src="{{STATIC_URL}}img/logo_ce/logo_ce.png" alt="">
                    </div>
                    <div>
                        <span class="title">社区版</span>
                        <img src="{{STATIC_URL}}/img/logo_ce/v7.png" alt="">
                    </div>
                </div>
                <div class="from-detail">
                    <form action="{{ app_path }}" method="post" id="login-form" onsubmit="return refresh_token()">{% csrf_token %}
                        <div class="form-login">
                            <div class="user group-control">
                                <i class="bk-icon icon-user"></i>
                                <input id="user" type="text" name="username" placeholder="请输入用户名" >
                            </div>
                            <div class="pwd group-control">
                                <i class="bk-icon icon-invisible-eye" id="invisible"></i>
                                <input class="password" id="password" type="password" name="password" value="" placeholder="请输入密码">
                            </div>
                            <p class="change-password">
                                {% if error_message %}
                                <span>{{ error_message }}</span>
                                    {% if token_set_password_url %}
                                        <a href="{{ token_set_password_url }}" target="_blank">>>去修改</a>
                                    {% endif %}
                                {% endif %}
                            </p>
                            <div>
                                <input type="hidden" name="next" value="{{ next }}" />
                                <input type="hidden" name="app_id" value="{{app_id }}">
                            </div>
                            <div class="btn-content clearfix">
                                <button class="login-btn" type="button" id="login-btn">立即登录</button>
                                <!-- <span class="protocol-btn">查看用户协议</span> -->
                            </div>
                            <div class="action clearfix">
                                <!-- {% if "/plain/" not in APP_PATH %} -->
                                <a href="javascript: void(0);" class="protocol-btn fl">用户协议 ></a>
                                <!-- {% endif %} -->
                                <a href="{{ reset_password_url }}" class="password-btn fr" target="_blank">忘记密码？</a>
                            </div>
                            <div class="language-switcher">
                                <p class="language-item active">
                                    <span id="ch" class="text-active">中文</span>
                                </p>
                                <p class="language-item">
                                    <span id="en" class="text-active">English</span>
                                </p>
                                <!-- <form id="language-form" action="{{SITE_URL}}i18n/setlang/" method="post">{% csrf_token %}
                                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                                    <select name="language" style="display: none;">
                                        {% get_current_language as LANGUAGE_CODE %}
                                        {% get_available_languages as LANGUAGES %}
                                        {% get_language_info_list for LANGUAGES as languages %}
                                        {% for language in languages %}
                                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                                {{ language.name_local }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <a href="javascript: void(0);">
                                        <img class="{% if LANGUAGE_CODE == 'en' %} en {% endif %}" src="{{STATIC_URL}}{% trans 'img/logo/btn_cn.png' %}" />
                                    </a>
                                </form> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <footer class="footer">
                <p>
                    <a id="contact_us" class="link">QQ群支持(495299374)</a>
                    | <a href="https://bk.tencent.com/s-mart/community/" target="_blank" hotrep="hp.footer.feedback" class="link">社区论坛</a>
                    | <a href="http://bk.tencent.com/" target="_blank" hotrep="hp.footer.feedback" class="link">产品官网</a>
                    |<a class="follow-us" href="###">关注我们</a>
                </p>
                <p>Copyright © 2012-{{NOW.year}} Tencent BlueKing. All Rights Reserved.</p>
                <p>蓝鲸智云 版权所有</p>
            </footer>
        </div>
        <!-- 查看用户协议 -->
        {% include "account/agreement.part" %}
        <!-- 浏览器验证 -->
        <div class="error-message-content is-chrome">
            <span>您的浏览器非Chrome，建议您使用最新版本的Chrome浏览，以保证最好的体验效果</span><i class="bk-icon icon-close-circle-shape" id="close-chrome"></i>
        </div>
    </body>
    <!-- js 国际化 -->
    
    <script type="text/javascript" src="{{SITE_URL}}jsi18n/i18n/"></script>
   
    <script src="{{STATIC_URL}}assets/jquery-1.10.2.min.js"></script>
    <script src="{{STATIC_URL}}js_ce/login.{{JS_SUFFIX}}?v={{STATIC_VERSION}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
    <script src="{{STATIC_URL}}js_ce/particles.js"></script>
    <script src="{{STATIC_URL}}js_ce/app.js"></script>
    <script src="{{STATIC_URL}}js_ce/stats.js"></script>
    <script type="text/javascript">
        {% if login_redirect_to %}
        window.open("{{login_redirect_to}}");
        {% endif %}
    </script>
</html>
