{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/x-icon" href="{{STATIC_URL}}favicon.ico">
        <link href="{{STATIC_URL}}css_ce/bk.{{CSS_SUFFIX}}" rel="stylesheet" type="text/css" />
        <link href="{{STATIC_URL}}assets/bk-icon-2.0/iconfont.css" rel="stylesheet" type="text/css" />
        <link href="{{STATIC_URL}}assets/blueking-icon/index.css" rel="stylesheet" type="text/css" />
        <link href="{{STATIC_URL}}css_ce/login_bind.{{CSS_SUFFIX}}?v={{STATIC_VERSION}}" rel="stylesheet" type="text/css" />
        <title>{% trans '登录 | 腾讯蓝鲸智云' %}</title>

        {% if is_plain %}
          <style>
              .login-from {
                left: 50% !important;
                top: 58% !important;
                margin: 0 !important;
                transform: translate(-50%, -58%);
              }
          </style>
        {% endif %}
    </head>
    <body>
        <div class="page-content">
            <div id="particles-js"></div>
            <div class="right-top">
                <img src="{{STATIC_URL}}img/logo_ce/right-top.png" alt="">
            </div>
            <div class="right-bottom">
                <img src="{{STATIC_URL}}img/logo_ce/right-bottom2.png" alt="">
            </div>
            <div class="left-bottom">
                <img src="{{STATIC_URL}}/img/logo_ce/left-bottom.png" alt="">
            </div>
            <div class="login-from">
                <div class="logo-title">{% trans '二次身份验证' %}</div>
                <div class="from-detail">
                    <div class="form-login">
                        <form action="{{ app_path }}" method="post" id="login-form" onsubmit="return refresh_token()">{% csrf_token %}
                            <div class="user group-control">
                                <i class="bk-icon icon-email"></i>
                                <input id="user" type="text" name="username" disabled value={{user.username}}>
                            </div>
                            <div class="validation group-control">
                                <div class="validation-left">
                                    <i class="bk-icon icon-yanzhengma"></i>
                                    <span class="code-btn-hide" id="code-btn">{% trans '获取验证码' %}</span>
                                </div>
                                    <input class="validation-right" id="validation" type="number" name="validation" value=""
                                        autocomplete="off" oninput="if(value.length>8)value=value.slice(0,8)">
                            </div>
                            <p class="error">
                                {% trans '验证码错误' %}
                            </p>
                            <div class="btn-content clearfix">
                                <button class="login-btn" id="login-btn">{% trans '确定' %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <p>
                    <a href="https://wpa1.qq.com/KziXGWJs?_type=wpa&qidian=true" >{% trans '技术支持' %}</a>
                    | <a href="https://bk.tencent.com/s-mart/community/" target="_blank" hotrep="hp.footer.feedback" class="link">{% trans '社区论坛' %}</a>
                    | <a href="http://bk.tencent.com/" target="_blank" hotrep="hp.footer.feedback" class="link">{% trans '产品官网' %}</a>
                    | <a href="" target="_blank" hotrep="hp.footer.feedback" class="link follow-us">
                        {% trans '关注我们' %}
                        <span class="qr-box"><img class="qr" src="{{STATIC_URL}}img/logo_ce/qr.png" alt=""></span>
                    </a>
                </p>
                <p>Copyright © 2012-{{NOW.year}} Tencent BlueKing. All Rights Reserved. V7.0</p>
                <p>{% trans '蓝鲸智云 版权所有' %}</p>
            </footer>
        </div>
        <!-- 查看用户协议 -->
        {% include "account/agreement.part" %}
        <!-- 浏览器验证 -->
        <div class="error-message-content is-chrome">
            <span>{% trans '您的浏览器非Chrome，建议您使用最新版本的Chrome浏览，以保证最好的体验效果' %}</span><i class="bk-icon icon-close-circle-shape" id="close-chrome"></i>
        </div>
    </body>
    <!-- js 国际化 -->

    <script type="text/javascript" src="{{SITE_URL}}jsi18n/i18n/"></script>

    <script src="{{STATIC_URL}}assets/jquery-1.10.2.min.js"></script>
    <script src="{{STATIC_URL}}js_ce/login_bind.js"></script>
    <script src="{{STATIC_URL}}js_ce/particles.js"></script>
    <script src="{{STATIC_URL}}js_ce/app.js"></script>
    <script src="{{STATIC_URL}}js_ce/stats.js"></script>
    <script type="text/javascript">
        {% if login_redirect_to %}
        window.open("{{login_redirect_to}}");
        {% endif %}
    </script>
</html>
