global:
  # 全局变量，通常用于多个 Chart 之间共享
  imagePullSecrets: []
  # imagePullSecrets, 预先创建的 imagePullSecrets, 将直接被添加到 chartty.imagePullSecretNames 中.
  # - name: "secret-a"
  # - name: "secret-b"

  # credential, 用于创建独享的 Secret 资源
  imageCredentials:
    # 当且仅当 enabled 为 true 时，会生成 dockerconfigjson 类型的 Secret 资源, 并在 chartty.imagePullSecretNames 添加该名称.
    enabled: false
    password: ""
    registry: ""
    username: ""
    name: ""

  # 全局镜像配置
  image:
    registry: "ccr.ccs.tencentyun.com/bk.io"
    pullPolicy: Always

  # 全局环境变量，当 `env` 指定时，`global.env` 内相同 key 值变量将被覆盖
  env:
    # 登录态 Cookie 写入的域名
    BK_DOMAIN: "example.com"
    # 统一登录的外部访问域名
    BK_LOGIN_PUBLIC_ADDR: "paas.example.com"
    # 用户管理后台API访问地址
    BK_USERMGR_API_URL: "http://bkuserapi-web"
    # 与 ESB 的通信凭证，应用(bk_paas) 对应的 bk_app_secret
    BK_PAAS_SECRET_KEY: ""
    # 32位随机字符串，用于加密登录态票据(bk_token)
    ENCRYPT_SECRET_KEY: ""
    DJANGO_SETTINGS_MODULE: "bklogin.config.overlays.prod"
  # 全局 hosts
  hostAliases: []

# 缺省实例数
replicaCount: 1

image:
  name: bk-login
  tag: "1.0.0-beta.3"

# 用来覆盖 Chart 名
nameOverride: "bk-login"
# 用来覆盖 fullName （通常是 release-chart 拼接）
fullnameOverride: ""

# 是否自动创建 serviceAccount
serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

# 支持定义 labels
podLabels: {}

securityContext: {}

service:
  type: ClusterIP
  port: 80

#---------------
# 调度
#---------------
nodeSelector: {}

tolerations: []

affinity: {}

#---------------
# 环境变量
# 除 global.env 和 env 外
# 其余变量定义均不去重，请手动确保无变量名冲突
#---------------

# key-value 结构渲染
env: {}

envFrom: []

# 提供原生的 env 写法，
extrasEnv: []

# 额外提供一种基于 sharedDomain 自动生成的 URL 类型环境变量
sharedUrlEnvMap: {}

# 标识必填的环境变量列表
requiredEnvList:
  - BK_DOMAIN
  - BK_LOGIN_PUBLIC_ADDR
  - BK_USERMGR_API_URL
  - ENCRYPT_SECRET_KEY

#---------------
# 进程定义
#--------------
httpPort: 5000
database:
  preferName: bk-login

# 定义应用内的多个进程
processes:
  web:
    ingress:
      enabled: true
      annotations:
        kubernetes.io/ingress.class: "nginx"
        nginx.ingress.kubernetes.io/rewrite-target: /$2
      paths: ["/login(/|$)(.*)"]
      host: "{{ .Values.global.env.BK_LOGIN_PUBLIC_ADDR }}"
    resources:
      limits:
        cpu: 1024m
        memory: 1024Mi
      requests:
        cpu: 200m
        memory: 512Mi
    readinessProbe:
      failureThreshold: 15
      periodSeconds: 10
      timeoutSeconds: 10
      httpGet:
        path: /ping/
        port: http
    livenessProbe:
      initialDelaySeconds: 90
      failureThreshold: 15
      periodSeconds: 10
      timeoutSeconds: 10
      tcpSocket:
        port: 5000
    command: ["./start.sh"]
    args: []
    hostAliases: []

# 部署前钩子
preRunHooks:
  # 变更表结构，仅在初始化或升级时执行
  on-migrate:
    weight: 1
    enabled: true
    position: "pre-install,pre-upgrade"
    command:
      - bash
    args:
      - -c
      - python manage.py migrate

# 支持定义多个 cronJobs
cronJobs:
  jobs: []

# 挂载配置
volumes: []
volumeMounts: []

# 支持定义 configmaps
configMaps: []

## ServiceMonitor configuration
##
serviceMonitor:
  ## @param serviceMonitor.enabled Creates a ServiceMonitor to monitor kube-state-metrics
  ##
  enabled: false
  ## @param serviceMonitor.jobLabel The name of the label on the target service to use as the job name in prometheus.
  ##
  jobLabel: ""
  ## @param serviceMonitor.interval Scrape interval (use by default, falling back to Prometheus' default)
  ## ref: https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#endpoint
  ## e.g:
  ## interval: 10s
  ##
  interval: ""
  ## @param serviceMonitor.scrapeTimeout Timeout after which the scrape is ended
  ## ref: https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#endpoint
  ## e.g:
  ## scrapeTimeout: 10s
  ##
  scrapeTimeout: ""
  ## @param serviceMonitor.selector ServiceMonitor selector labels
  ## ref: https://github.com/bitnami/charts/tree/master/bitnami/prometheus-operator#prometheus-configuration
  ## e.g:
  ## selector:
  ##   prometheus: my-prometheus
  ##
  selector: {}
  ## @param serviceMonitor.honorLabels Honor metrics labels
  ## ref: https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#endpoint
  ## e.g:
  ## honorLabels: false
  ##
  honorLabels: false
  ## @param serviceMonitor.relabelings ServiceMonitor relabelings
  ## ref: https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#relabelconfig
  ##
  relabelings: []
  ## @param serviceMonitor.metricRelabelings ServiceMonitor metricRelabelings
  ## ref: https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#relabelconfig
  ##
  metricRelabelings: []
