@import '../../scss/mixins/scroller.scss';

.organization-wrapper {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
}

::v-deep .bk-resize-layout {
  width: 100%;
  .bk-resize-layout-aside {
    background: #F5F7FA;
  }
}

.tree-content-wrapper {
  height: calc(100vh - 124px);
}

.organization-right {
  position: relative;
  width: 100%;
  height: 100%;
  // 用户目录
  .catalog-info {
    height: 70%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    .catalog-name {
      margin: 0 0 10px;
      font-size: 24px;
      font-weight: bold;
      line-height: 31px;
      color: #313238;
    }

    .catalog-detail {
      font-size: 12px;
      font-weight: normal;
      line-height: 16px;
      color: #63656e;
    }
  }
  // 组织标题
  .department-title {
    padding: 0 20px;
    font-weight: 400;
    height: 52px;
    line-height: 52px;
    border-bottom: 1px solid #dcdee5;
    display: flex;
    justify-content: space-between;

    .title-left {
      display: flex;
      white-space: nowrap;
      .title-left-name{
        .icon-root-node-i {
          font-size: 18px;
          color: #C4C6CC;
        }
        .icon-user-file-close-01 {
          font-size: 18px;
          color: #a3c5fd;
          vertical-align: middle;
        }
        .profile-name {
          color: #313238;
          font-size: 16px;
          font-family: MicrosoftYaHei;
          display: inline-block;
          max-width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          vertical-align: middle;
        }
        .profile-count {
          font-size: 12px;
          padding: 0 8px;
          color: #979BA5;
          background-color: #F0F1F5;
        }
      }
      .title-left-ul {
        display: flex;
        font-size: 12px;
        color: #979BA5;
        white-space: nowrap;
        li {
          padding: 0 20px;
          position: relative;
          .incomplete {
            color: #F99E11;
          }
          .deactivate {
            color: #313238;
          }
          &::before {
            content: '|';
            position: absolute;
            right: 0px;
            width: 1px;
            height: 8px;
            color: #EAEBF0;
          }
        }
        li:last-child:before {
            color: #fff;
        }
      }
    }

    .title-right {
      max-width: 200px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  // 非空组织，操作栏和表格
  .staff-info-wrapper {
    padding: 20px 20px 0;
    height: calc(100% - 54px);
  }
}

.drag-bar {
  position: absolute;
  left: 259px;
  top: 0;
  width: 1px;
  height: 100%;

  .drag-icon {
    position: absolute;
    top: 50%;
    left: -3px;
    width: 7px;
    cursor: col-resize;
    transform: translateY(-50%);
  }

  &.dragging {
    z-index: 3001;
  }
}
// 表格上方的操作栏
.table-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 52px;
  padding-bottom: 20px;

  .table-actions-left-container,
  .table-actions-right-container {
    display: flex;
    align-items: center;
    .sync-details {
      font-size: 14px;
      color: #3a84ff;
      i {
        margin-right: 5px;
      }
    }
  }
  // 更多操作
  .king-dropdown-menu {
    margin-right: 10px;

    .bk-dropdown-list > li > a {
      font-size: 14px;

      &.disabled {
        cursor: not-allowed;
        color: rgba(196, 198, 204, 1);
      }
    }

    .bk-dropdown-trigger .bk-button {
      font-size: 14px;
    }

    .more-action {
      padding-right: 8px;
    }

    &:first-child {
      margin-right: 10px;
    }
  }
  // 仅显示本级成员
  .filter-current {
    display: flex;
    align-items: center;
    line-height: 20px;

    .text {
      margin-left: 6px;
      font-size: 14px;
      white-space: nowrap;
      cursor: pointer;
    }
  }

  .table-actions-left-container.local-type {
    width: calc(100% - 520px);

    .filter-current {
      width: calc(100% - 260px);

      .king-checkbox {
        flex-shrink: 0;
      }
    }
  }
  // 设置列表字段
  .set-table-field {
    width: 32px;
    height: 32px;
    text-align: center;
    border: 1px solid #c3cdd7;
    border-radius: 2px;
    cursor: pointer;

    .icon-user-cog {
      line-height: 32px;
      font-size: 14px;
      color: #979ba5;
    }
  }
}
// 表格和分页
.department-staff-info {
  // height: calc(100% - 56px);

  ::v-deep .user-table-wrapper {
    height: 100%;
    .user-table {
      height: 100%;
      .bk-table-body-wrapper {
        max-height: calc(100vh - 315px);
        overflow-y: auto;
        @include scroller($backgroundColor: #e6e9ea, $width: 4px);
      }
    }
  }

  &.search-user {
    height: 100%;

    .table-list-wrapper {
      height: calc(100% - 20px);
    }
  }
}
// 侧边栏
.member-content {
  background: #fafbfd;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
// 添加组织
.new-department {
  position: relative;
  display: flex;
  align-items: center;

  > .folder-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 20px;
    top: 6px;
    width: 20px;
    height: 20px;
    z-index: 10;

    > .icon-user-file-close-01 {
      font-size: 18px;

      &::before {
        color: #c4c6cc;
      }
    }
  }

  > .adding-input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    line-height: initial;

    ::v-deep .bk-form-input {
      padding-left: 43px;
    }
  }
}
