@font-face {
	font-family: "user";
	src: url("fonts/iconcool.svg#iconcool") format("svg"),
url("fonts/iconcool.ttf") format("truetype"),
url("fonts/iconcool.woff") format("woff"),
url("fonts/iconcool.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

.user-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'user' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-align: center;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-app-store-fill:before {
	content: "\e126";
}
.icon-info-i:before {
	content: "\e105";
}
.icon-dobble-arrow-i:before {
	content: "\e108";
}
.icon-user-logo-i:before {
	content: "\e102";
}
.icon-root-node-i:before {
	content: "\e103";
}
.icon-duihao-i:before {
	content: "\e104";
}
.icon-unfilled-i:before {
	content: "\e106";
}
.icon-todo-i:before {
	content: "\e107";
}
.icon-loading-i:before {
	content: "\e109";
}
.icon-add-hollow:before {
	content: "\e10a";
}
.icon-close-fill:before {
	content: "\e10b";
}
.icon-organization-fill:before {
	content: "\e10d";
}
.icon-outline-list:before {
	content: "\e10e";
}
.icon-duihao-2:before {
	content: "\e10f";
}
.icon-file-close:before {
	content: "\e110";
}
.icon-info-fill:before {
	content: "\e111";
}
.icon-user-directory:before {
	content: "\e113";
}
.icon-homepage:before {
	content: "\e114";
}
.icon-arrow-left:before {
	content: "\e117";
}
.icon-arrow-right:before {
	content: "\e116";
}
.icon-minus-fill:before {
	content: "\e119";
}
.icon-plus-fill:before {
	content: "\e118";
}
.icon-warning:before {
	content: "\e115";
}
.icon-abnormal:before {
	content: "\e11b";
}
.icon-more:before {
	content: "\e11c";
}
.icon-unknown:before {
	content: "\e11a";
}
.icon-normal:before {
	content: "\e11d";
}
.icon-drag:before {
	content: "\e11e";
}
.icon-lishijilu:before {
	content: "\e11f";
}
.icon-add-2:before {
	content: "\e120";
}
.icon-expand-line:before {
	content: "\e121";
}
.icon-block-shape:before {
	content: "\e123";
}
.icon-win:before {
	content: "\e122";
}
.icon-qw:before {
	content: "\e124";
}
.icon-wechat:before {
	content: "\e125";
}
.icon-yonghu:before {
	content: "\e128";
}
.icon-qiyeweixin:before {
	content: "\e129";
}
.icon-qingximoban:before {
	content: "\e12a";
}
.icon-rizhi:before {
	content: "\e12b";
}
.icon-zhibiaochajian:before {
	content: "\e12f";
}
.icon-shujuku:before {
	content: "\e12e";
}
.icon-ladp:before {
	content: "\e12d";
}
.icon-edit:before {
	content: "\e130";
}
.icon-delete:before {
	content: "\e131";
}
.icon-refresh:before {
	content: "\e134";
}
.icon-check-line:before {
	content: "\e133";
}
.icon-excel:before {
	content: "\e132";
}
.icon-http:before {
	content: "\e135";
}
.icon-xinzeng-qianse:before {
	content: "\e138";
}
.icon-full-screen:before {
	content: "\e139";
}
.icon-un-full-screen:before {
	content: "\e13b";
}
.icon-arrow-down:before {
	content: "\e13a";
}
.icon-copy:before {
	content: "\e13c";
}
.icon-import:before {
	content: "\e13d";
}
.icon-canshu:before {
	content: "\e13e";
}
