// 浏览器重置样式
* {
  box-sizing: border-box;
  outline: none;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
i,
pre,
form,
fieldset,
input,
blockquote,
th,
td,
p,
span,
button,
textarea,
b {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}

input[type=text] {
  resize: none;
  outline: none;
}

input[type=text]::input-placeholder {
  color: rgba(195,205,215,1);
}

input[type=text]:focus {
  border-color: #3c96ff !important;
}

textarea:disabled,
input:not([type]):disabled,
input[type='color' i]:disabled,
input[type='date' i]:disabled,
input[type='datetime' i]:disabled,
input[type='datetime-local' i]:disabled,
input[type='email' i]:disabled,
input[type='month' i]:disabled,
input[type='password' i]:disabled,
input[type='number' i]:disabled,
input[type='search' i]:disabled,
input[type='tel' i]:disabled,
input[type='text' i]:disabled,
input[type='time' i]:disabled,
input[type='url' i]:disabled,
input[type='week' i]:disabled {
  background: #fafbfd !important;
  cursor: not-allowed;
  border: 1px solid #dde4eb;
  color: #aaa;
}
