
.reduction-content {
  .content-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    .header-left {
      width: 400px;
    }
    .header-right {
      display: inline-block;
    }
  }
  .content-table {
    .table-title {
      display: flex;
      justify-content: space-between;
      height: 42px;
      line-height: 42px;
      background: #F0F1F5;
      border: 1px solid #DCDEE5;
      border-bottom: none;
      padding: 0 22px;
      font-size: 14px;
      color: #63656e;
      .title-left {
        font-weight: 700;
        span {
          color: #3A84FF;
        }
      }
      .title-right {
        span {
          font-weight: 700;
          &:first-child {
            color: #2dcb56;
          }
          &:last-child {
            color: #EA3636;
          }
        }
      }
    }
  }
}
.restore-check {
  i {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 5px;
  }
  .success {
    background: #E5F6EA;
    border: 1px solid #3FC06D;
  }
  .danger {
    background: #FFE6E6;
    border: 1px solid #EA3636;
  }
  span {
    color: #3A84FF;
    cursor: pointer;
  }
}
