# -*- coding: utf-8 -*-
from bkuser_shell.config.common.django_basic import *  # noqa
from bkuser_shell.config.common.logging import *  # noqa
from bkuser_shell.config.common.platform import *  # noqa
from bkuser_shell.config.common.storage import *  # noqa
from bkuser_shell.config.common.system import *  # noqa
from bkuser_global.config import get_logging_config_dict

# ===============================================================================
# 通用设置
# ===============================================================================
DEBUG = True


# ===============================================================================
# 日志设置
# ===============================================================================
LOG_LEVEL = "DEBUG"
LOGGING = get_logging_config_dict(
    log_level=LOG_LEVEL,
    logging_dir=LOGGING_DIR,
    log_class=LOG_CLASS,
    file_name=APP_ID,
    package_name="bkuser_shell",
)

# ===============================================================================
# 跨域设置
# ===============================================================================
INSTALLED_APPS += [
    # 添加跨域配置
    "corsheaders",
]

MIDDLEWARE.insert(0, "corsheaders.middleware.CorsMiddleware")


CORS_ORIGIN_WHITELIST = env.list("CORS_ORIGIN_WHITELIST", default=[])

CORS_ALLOW_CREDENTIALS = True
CSRF_COOKIE_DOMAIN = env.str("CSRF_COOKIE_DOMAIN", default=".example.com")
