@import url("./main.css");
@import url("./reset.css");

.mr8 {
  margin-right: 8px;
}

.user-scroll-x {
  overflow-x: auto;
  scrollbar-color: #a0a0a0 transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    height: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
    border-radius: 8px;
  }
}

.user-scroll-y {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #dcdee5;
    border-radius: 4px;
  }
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.img-logo {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid #C4C6CC;
  border-radius: 50%;
  object-fit: contain;
}

.span-logo {
  display: inline-block;
  width: 16px;
  margin-right: 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: #fff;
  text-align: center;
  background-color: #C4C6CC;
  border-radius: 4px;
  flex-shrink: 0;
}

.clearfix {
  &::after {
    display: block;
    clear: both;
    font-size: 0;
    content: '';
    visibility: hidden;
  }
}
