@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #63656e;
  text-align: center;
  text-align: left;
  background: #f5f7fb;
}
