# for pre-commit
toml==0.10.1
pyproject-flake8==0.0.1-alpha.2
flake8-comprehensions==3.5.0
pytest==6.2.2
pytest-django==4.1.0
django-dynamic-fixture==3.1.1
converge==0.9.8
mock==1.0.1
black==21.7b0
mypy==0.910
# install extension stubs if missing
# types-requests==2.25.0
isort==5.9.2