--index-url https://mirrors.tencent.com/pypi/simple

annotated-types==0.7.0 ; python_version == "3.11"
asgiref==3.8.1 ; python_version == "3.11"
bk-crypto-python-sdk==2.0.0 ; python_version == "3.11"
blue-krill==2.0.7 ; python_version == "3.11"
certifi==2024.8.30 ; python_version == "3.11"
cffi==1.17.1 ; python_version == "3.11"
charset-normalizer==3.4.0 ; python_version == "3.11"
click==8.1.7 ; python_version == "3.11"
colorama==0.4.6 ; python_version == "3.11" and platform_system == "Windows"
cryptography==43.0.3 ; python_version == "3.11"
curlify==2.2.1 ; python_version == "3.11"
dacite==1.8.1 ; python_version == "3.11"
django-environ==0.11.2 ; python_version == "3.11"
django==4.2.16 ; python_version == "3.11"
idna==3.10 ; python_version == "3.11"
pycparser==2.22 ; python_version == "3.11"
pycryptodomex==3.21.0 ; python_version == "3.11"
pydantic-core==2.16.3 ; python_version == "3.11"
pydantic==2.6.4 ; python_version == "3.11"
pyjwt==2.10.0 ; python_version == "3.11"
python-editor==1.0.4 ; python_version == "3.11"
requests==2.32.3 ; python_version == "3.11"
six==1.16.0 ; python_version == "3.11"
sqlparse==0.5.2 ; python_version == "3.11"
toml==0.10.2 ; python_version == "3.11"
tongsuopy-crayon==1.0.2b6 ; python_version == "3.11"
typing-extensions==4.12.2 ; python_version == "3.11"
tzdata==2024.2 ; sys_platform == "win32" and python_version == "3.11"
urllib3==1.26.20 ; python_version == "3.11"
watchdog==6.0.0 ; python_version == "3.11"
wrapt==1.16.0 ; python_version == "3.11"
