--index-url https://mirrors.tencent.com/pypi/simple

annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "3.12"
asgiref==3.8.1 ; python_version >= "3.11" and python_version < "3.12"
bk-crypto-python-sdk==2.0.0 ; python_version >= "3.11" and python_version < "3.12"
blue-krill==2.0.7 ; python_version >= "3.11" and python_version < "3.12"
certifi==2024.8.30 ; python_version >= "3.11" and python_version < "3.12"
cffi==1.17.1 ; python_version >= "3.11" and python_version < "3.12"
charset-normalizer==3.4.0 ; python_version >= "3.11" and python_version < "3.12"
click==8.1.7 ; python_version >= "3.11" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.12" and platform_system == "Windows"
cryptography==44.0.0 ; python_version >= "3.11" and python_version < "3.12"
curlify==2.2.1 ; python_version >= "3.11" and python_version < "3.12"
dacite==1.8.1 ; python_version >= "3.11" and python_version < "3.12"
django-environ==0.11.2 ; python_version >= "3.11" and python_version < "3.12"
django==4.2.17 ; python_version >= "3.11" and python_version < "3.12"
idna==3.10 ; python_version >= "3.11" and python_version < "3.12"
pycparser==2.22 ; python_version >= "3.11" and python_version < "3.12"
pycryptodomex==3.21.0 ; python_version >= "3.11" and python_version < "3.12"
pydantic-core==2.16.3 ; python_version >= "3.11" and python_version < "3.12"
pydantic==2.6.4 ; python_version >= "3.11" and python_version < "3.12"
pyjwt==2.10.1 ; python_version >= "3.11" and python_version < "3.12"
python-editor==1.0.4 ; python_version >= "3.11" and python_version < "3.12"
requests==2.32.3 ; python_version >= "3.11" and python_version < "3.12"
six==1.17.0 ; python_version >= "3.11" and python_version < "3.12"
sqlparse==0.5.3 ; python_version >= "3.11" and python_version < "3.12"
toml==0.10.2 ; python_version >= "3.11" and python_version < "3.12"
tongsuopy-crayon==1.0.2b6 ; python_version >= "3.11" and python_version < "3.12"
typing-extensions==4.12.2 ; python_version >= "3.11" and python_version < "3.12"
tzdata==2024.2 ; python_version >= "3.11" and python_version < "3.12" and sys_platform == "win32"
urllib3==1.26.20 ; python_version >= "3.11" and python_version < "3.12"
watchdog==6.0.0 ; python_version >= "3.11" and python_version < "3.12"
wrapt==1.17.0 ; python_version >= "3.11" and python_version < "3.12"
