--index-url https://mirrors.tencent.com/pypi/simple

annotated-types==0.6.0 ; python_version >= "3.10" and python_version < "3.11"
asgiref==3.7.2 ; python_version >= "3.10" and python_version < "3.11"
bk-crypto-python-sdk==1.1.1 ; python_version >= "3.10" and python_version < "3.11"
blue-krill==2.0.3 ; python_version >= "3.10" and python_version < "3.11"
certifi==2023.7.22 ; python_version >= "3.10" and python_version < "3.11"
cffi==1.16.0 ; python_version >= "3.10" and python_version < "3.11"
charset-normalizer==3.3.0 ; python_version >= "3.10" and python_version < "3.11"
click==8.1.7 ; python_version >= "3.10" and python_version < "3.11"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.11" and platform_system == "Windows"
cryptography==42.0.5 ; python_version >= "3.10" and python_version < "3.11"
curlify==2.2.1 ; python_version >= "3.10" and python_version < "3.11"
dacite==1.8.1 ; python_version >= "3.10" and python_version < "3.11"
django-environ==0.8.1 ; python_version >= "3.10" and python_version < "3.11"
django==3.2.25 ; python_version >= "3.10" and python_version < "3.11"
idna==3.4 ; python_version >= "3.10" and python_version < "3.11"
pycparser==2.21 ; python_version >= "3.10" and python_version < "3.11"
pycryptodomex==3.20.0 ; python_version >= "3.10" and python_version < "3.11"
pydantic-core==2.6.3 ; python_version >= "3.10" and python_version < "3.11"
pydantic==2.3.0 ; python_version >= "3.10" and python_version < "3.11"
pyjwt==2.8.0 ; python_version >= "3.10" and python_version < "3.11"
python-editor==1.0.4 ; python_version >= "3.10" and python_version < "3.11"
pytz==2023.3.post1 ; python_version >= "3.10" and python_version < "3.11"
requests==2.31.0 ; python_version >= "3.10" and python_version < "3.11"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.11"
sqlparse==0.4.4 ; python_version >= "3.10" and python_version < "3.11"
toml==0.10.2 ; python_version >= "3.10" and python_version < "3.11"
tongsuopy-crayon==1.0.2b6 ; python_version >= "3.10" and python_version < "3.11"
typing-extensions==4.8.0 ; python_version >= "3.10" and python_version < "3.11"
urllib3==2.2.1 ; python_version >= "3.10" and python_version < "3.11"
watchdog==1.0.2 ; python_version >= "3.10" and python_version < "3.11"
wrapt==1.15.0 ; python_version >= "3.10" and python_version < "3.11"
