name: bkuser_ci_check
on:
  push:
    branches: [ main, pre_*, ft_*, release/* ]
    paths:
      - "src/bk-user/**"
      - "src/idp-plugins/**"
  pull_request:
    branches: [ main, pre_*, ft_*, release/* ]
    paths:
      - "src/bk-user/**"
      - "src/idp-plugins/**"
jobs:
  check:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: 'pip'
          cache-dependency-path: 'src/bk-user/requirements_dev.txt'
      - name: create idp plugin symbolic link
        run: |
          ln -s $(pwd)/src/idp-plugins/idp_plugins $(pwd)/src/bk-user/bkuser
      - name: Install dependencies
        run: pip install -r src/bk-user/requirements_dev.txt
      - name: Format & Lint with ruff
        run: |
          ruff format src/bk-user --config=src/bk-user/pyproject.toml --no-cache
          ruff check src/bk-user --config=src/bk-user/pyproject.toml --no-cache
      - name: Lint with mypy
        run: |
          mypy src/bk-user --config-file=src/bk-user/pyproject.toml
  test:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - name: Start MySQL Container
        uses: samin/mysql-action@v1.3
        with:
          mysql version: "8.0"
          mysql database: bk-user
          mysql user: root
          mysql password: root_pwd
          mysql root password: root_pwd
      - name: Start Redis Container
        uses: supercharge/redis-github-action@1.4.0
        with:
          redis-version: "3.2.0"
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: 'pip'
          cache-dependency-path: 'src/bk-user/requirements_dev.txt'
      - name: create idp plugin symbolic link
        run: |
          ln -s $(pwd)/src/idp-plugins/idp_plugins $(pwd)/src/bk-user/bkuser
      - name: Install dependencies
        run: pip install -r src/bk-user/requirements_dev.txt
      - name: Run unittest
        working-directory: src/bk-user
        run: |
          # random secret
          export BK_APP_SECRET="fod6MKVTVi_3M5HgGoj-qI7b3l0dgCzTBwGypnDz4vg="
          # random secret key
          export BKKRILL_ENCRYPT_SECRET_KEY="tttHSBLiVdQPItrfy7n9dV7AxAUMZpYVkD6IHMbL0VE="
          export BK_USER_URL=""
          export BK_COMPONENT_API_URL=""
          export BK_API_URL_TMPL=""
          export MYSQL_PASSWORD=root_pwd
          export MYSQL_HOST="127.0.0.1"
          export INITIAL_ADMIN_USERNAME=admin
          export INITIAL_ADMIN_PASSWORD=admin_pwd
          export DJANGO_SETTINGS_MODULE=bkuser.settings
          poetry run pytest ./tests
