name: idp_plugin_ci_check
on:
  push:
    branches: [ main, pre_*, ft_*, release/* ]
    paths:
      - "src/idp-plugins/**"
  pull_request:
    branches: [ main, pre_*, ft_*, release/* ]
    paths:
      - "src/idp-plugins/**"
jobs:
  check:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.11"
          cache: 'pip'
          cache-dependency-path: 'src/idp-plugins/requirements_dev.txt'
      - name: Install dependencies
        run: pip install -r src/idp-plugins/requirements_dev.txt
      - name: Format & Lint with ruff
        run: |
          ruff format src/idp-plugins --config=src/idp-plugins/pyproject.toml --no-cache
          ruff src/idp-plugins --config=src/idp-plugins/pyproject.toml --no-cache
      - name: Lint with mypy
        run: |
          mypy src/idp-plugins --config-file=src/idp-plugins/pyproject.toml
